@(eventForm: Form[Event], games: List[models.Game])

@import helper._
@import models.Event

@main("Add a new Event") {
  <h1>Add a new Event</h1>
  @form(routes.Events.save()) {
      <input type="hidden" name="id" value="0"/>
      @eventformfields(eventForm, List(), games)
      <button type="submit">Save</button>
  }
}
