@(events: Iterable[models.Event])

@main("All events") {
  <h1>All events</h1>
  @if(events.isEmpty) {
      <p>No events found</p>
  } else {
    <ul>
    @for(event <- events) {
      @eventlist(event)
      <a href="@routes.Events.edit(event.id)">Edit</a>
      @helper.form(action = routes.Events.delete(event.id)){<button type="submit">Delete</button>}</li>
            
    }
    </ul>
  }
}
