@(eventForm: Form[Event], id: Int, eventGames: List[Int], games: List[models.Game])

@import helper._
@import models.Event

@main("Edit Event") {
  <h1>Edit Event</h1>
  @form(routes.Events.update(id)) {
      <input type="hidden" name="id" value="@id"/>
      @eventformfields(eventForm, eventGames, games)  
      <button type="submit">Update</button>
  }
}
