@(eventForm: Form[Event], eventGames: List[Int], games: List[models.Game])

@import helper._
@import models.Event

@inputText(eventForm("title"))
@inputText(eventForm("streamLink"))
@inputText(eventForm("startTime"))
@inputText(eventForm("endTime"))
<div>
  <h2>Games at this event</h2>
</div>
<div>
  @if(!eventForm.error("games").isEmpty) {
    <dl>      
      <dd class="error">@eventForm.error("games").get.message</dd>
    </dl>
  }
  @for(game <- games) {
  <label>
    <input type="checkbox" name="games[]" value="@game.id"
      @eventGames.map { eGame =>
        @if(game.id == eGame) { checked="checked"} 
      }
    />
    @game.title
  </label>
  }
</div>