@(events: Iterable[models.Event])(implicit session: play.api.mvc.Session) 

@main("All events") {

  <h2>Time zone</h2>
  @helper.form(action = routes.Timezone.updateTimezone()) {
    @timezoneoptions()
    <button type="submit">Update Time Zone</button>          
  }
  <script>
    var timezoneCookie = document.cookie.replace(/(?:(?:^|.*;\s*)timezone\s*\=\s*([^;]*).*$)|^.*$/, "$1");
    $('select#timezoneselect').val(timezoneCookie);
  </script>
  
      
  @if(!session.get("name").isEmpty) {
    <h2>Hi, @session.get("name")!</h2>
  }
  <h2>All events</h2>
  @if(events.isEmpty) {
      <p>No events found</p>
  } else {
      <ul>
      @for(event <- events) {
        @eventlist(event)
        
        <a href="@routes.Events.edit(event.id)">Edit</a>
        @helper.form(action = routes.Events.delete(event.id)){<button type="submit">Delete</button>}</li>
              
      }
      </ul>
  }
  <a href="@routes.Events.add">Add a new Event</a>
  <br/>
  <a href="@routes.Users.createuserinit">Create a user account</a>
  <a href="/login">Login</a>
}
